/* TODO Add site wide styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F3F2EF;
}

html {
    height: fit-content;
}

.errors {
    color: red;
}

.error_outline {
    border: 1px solid red;
}
