.delete-container {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 400px;
    border-radius: 5px;
    padding: 2rem 1rem;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.delete-container>form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}