.dropdown_menu {
    position: absolute;
    top: 70px;
    right: 0px;
    background: white;
    width: 12em;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.06), -1px -1px 2px rgba(0, 0, 0, 0.06);
}


.dropdown_menu p{
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 7px 0;
    transition: all 0.2s ease-out;
    font-size: 20px;
    text-transform: uppercase;
}

.dropdown_menu p i {
    padding-right: 5px;
}

.dropdown_menu p:hover {
    padding-left: 10px;
    font-weight: bold;
    color: rgb(40, 64, 11);
}

.dropdown_menu a,
.dropdown_menu a:visited,
.dropdown_menu a:link,
.dropdown_menu a:active {
    text-decoration: none;
    color: black;
}
