.singleCamp_container {
    width: 1232px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    color: black
}

.slider {
    position: relative;
    height: 600px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: white;
    border: none;
    background: none;
    z-index: 8;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: white;
    border: none;
    background: none;
    z-index: 8;
    cursor: pointer;
}

.single_slider {
    width: 95.5%;
    height: 95%;
    position: absolute;
    top: 10;
    transition-duration: 2s ease;
}


.single_slider.active {
    opacity: 1;
    transition-duration: 2s;
    scale: 1.05;
}

.body_container {
    width: 100%;
    height: 100%;
    display: flex;
}

.camp_info {
    flex: 70;
    padding: 10px;
}

.camp_name {
    padding: 20px 0;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.camp_host {
    display: flex;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.host {
    display: flex;
    align-items: center;
    flex: 30;
}

.camp_bio {
    padding: 20px;
    display: flex;
    align-items: center;
    flex: 70;
}

.userImage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    color: black;
    margin-right: 20px;
}

.hosted_by {
    font-size: 1.2rem;
}

.camp_boxes{
    height: 300px;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .7rem;
    color: rgba(0, 0, 0, 0.5);
    border-bottom:  1px solid rgba(0, 0, 0, 0.2);
}

.camp_boxes h2 {
    color: rgba(0, 0, 0, 0.8);
}

.area,
.essentials,
.amenities {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.7rem;
}

.area_icons {
    padding: 0.7rem;
    font-size: 1.08rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.area_icons_tents {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
}

.area_icons_tents> i {
    flex: 20;
    display: flex;
    justify-content: center;

}

.area_icons_tents> h4 {
    flex: 80;
    margin-left: 10px;
}

.area_icons_sites {
    display: flex;
    align-items: center;
    height: 1.8rem;
}

.area_icons_sites>i {
    flex: 20;
    display: flex;
    justify-content: center;
}

.area_icons_sites>h4 {
    flex: 80;
    margin-left: 10px;
}

.area_icons_guest {
    display: flex;
    align-items: center;
    height: 1.8rem;
}

.area_icons_guest>i {
    flex: 20;
    display: flex;
    justify-content: center;
}

.area_icons_guest>h4 {
    flex: 80;
    margin-left: 10px;
}

.area_icons_parking {
    display: flex;
    align-items: center;
    height: 1.8rem;
}

.area_icons_parking>i {
    flex: 20;
    display: flex;
    justify-content: center;
}

.area_icons_parking>h4 {
    flex: 80;
    margin-left: 10px;
}

.essentials_icons {
    padding: 0.7rem;
    font-size: 1.08rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.essentials_icons_campfire {
    display: flex;
    align-items: center;
    height: 1.8rem;
}

.essentials_icons_campfire>i {
    flex: 20;
    display: flex;
    justify-content: center;
}

.essentials_icons_campfire>h4 {
    flex: 80;
    margin-left: 10px;
}

.essentials_icons_campfireNone {
    display: flex;
    align-items: center;
    height: 1.8rem;
}

.essentials_icons_campfireNone>img {
    flex: 20;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.essentials_icons_campfireNone>h4 {
    flex: 80;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.2);
}

.essentials_icons_toliets {
    display: flex;
    align-items: center;
    height: 1.8rem;
}

.essentials_icons_toliets>i {
    flex: 20;
    display: flex;
    justify-content: center;
}

.essentials_icons_toliets>h4 {
    flex: 80;
    margin-left: 10px;
}

.none {
    color: rgba(0, 0, 0, 0.2);
}

.testing i {
    position: absolute;
    left: 20px;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.2);
}

.amenities_icons {
    padding: 0.7rem;
    font-size: 1.08rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.amenity_icons_single {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
}

.amenity_icons_single>i {
    flex: 20;
    display: flex;
    justify-content: center;
}

.amenity_icons_single>h4 {
    flex: 80;
    margin-left: 10px;
}

.amenity_icons_singleNone {
    display: flex;
    align-items: center;
    height: 1.8rem;
}

.amenity_icons_singleNone>img {
    flex: 20;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.amenity_icons_singleNone>h4 {
    flex: 80;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.2);
}

.details {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 120px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.detail_name,
.detail_check,
.detail_booking {
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.detail_name {
    font-weight: bold;
    border-right: 1px solid rgba(0, 0, 0, 0.5) ;
}

.detail_check {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.checkin {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding-left: 20px;
}

.checkin h4:nth-child(2) {
    color: rgba(0, 0, 0, 0.5);
}

.activities_container {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.activities_container h4 {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.activity_boxes{
    height: 19rem;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.activity_box {
    margin: 20px 20px 14px 20px;
    text-align: center;
    height: fit-content;
    font-size: 10px;
}

.act_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 50px;
    margin-bottom: 6px;
}

.bookings {
    flex: 30;
}

.calendar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar>h3 {
    align-self: flex-start;
}

.rdrCalendarWrapper {
    background: none !important;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}